@theme {
  --font-sans: "InterTight", sans-serif;
  --font-heading: "StackSansHeadline", sans-serif;
  --font-logimas: "Logimas", serif;

  /* Breakpoints */
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 87.5rem;

  /* Colors */
  --color-blue: oklch(33.62% 0.129 271.76);
  --color-blue-hover: oklch(30.26% 0.116 271.76);
  --color-blue-dark: oklch(25.79% 0.109 270.64);
  --color-blue-light: oklch(83.21% 0.031 232.5);
  --color-blue-lighter: oklch(0.9503 0.0101 228.89);
  --color-blue-lightest: oklch(0.9737 0.005 228.82);

  --color-green: oklch(73.39% 0.18 128.18);
  --color-green-dark: oklch(53.67% 0.141 128.24);
  --color-green-light: oklch(83.64% 0.053 125.49);

  --color-stone-lightest: oklch(95.68% 0.012 79.78);
  --color-stone-light: oklch(91.4% 0.014 84.58);
  --color-stone-medium: oklch(71.97% 0.017 86.44);
  --color-stone-dark: oklch(36.26% 0.02 82.68);
  --color-stone-ultra-light: oklch(95.68% 0.012 79.78);

  --color-orange: oklch(75.81% 0.171 57.33);
  --color-black: oklch(18.61% 0.06 291.33);
  --color-grey: oklch(90.64% 0.016 282.25);
  --color-red: oklch(62.8% 0.258 29.23);
  --color-beige: oklch(0.9568 0.0119 79.78);
  --color-grey-light: oklch(0.9677 0.0027 286.35);

  /* Text sizes */
  --text-9xl: 7.25rem;
  --text-8xl: 5.125rem;
  --text-7xl: 4.25rem;
  --text-6xl: 3.875rem;
  --text-5.5xl: 3.25rem;
  --text-5xl: 2.625rem;
  --text-4.5xl: 2.25rem;
  --text-4xl: 2rem;
  --text-3.5xl: 1.875rem;
  --text-3.2xl: 1.75rem;
  --text-3xl: 1.625rem;
  --text-2.5xl: 1.5rem;
  --text-2xl: 1.438rem;
  --text-xl: 1.375rem;
  --text-1.5xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-md: 1.063rem;
  --text-base: 1rem;
  --text-1.5sm: 0.938rem;
  --text-sm: 0.875rem;
  --text-1.5xs: 0.844rem;
  --text-1.2xs: 0.8125rem;
  --text-xs: 0.813rem;
  --text-2xs: 0.75rem;
  --text-3xs: 0.625rem;
  --text-4xs: 0.563rem;

  --shadow-underline: 0 1px 0 0 black;
  --shadow-underline-thick: 0 2px 0 0 black;

  /* Margins */
  --margin-section-lg: 6.25rem;
  --margin-section: 4rem;

  --margin-usp-card: 1.88rem;
  --margin-xs: 0.62rem;
  --margin-sm: 0.69rem;

  /* Paddings */
  --padding-details: 0.88rem;
  --padding-usp-card: 1.88rem;
  --padding-section-lg: 6.25rem;
  --padding-section: 3rem;
  --padding-xs: 0.62rem;

  /* Radius */
  --radius-hero: 1.875rem;
  --radius-nav: 1.438rem;
  --radius-card: 1.25rem;
  --radius-button: 1rem;
  --radius-usp-md: 0.938rem;
  --radius-usp-sm: 0.875rem;
  --radius-usp-xs: 0.625rem;
  --radius-label: 0.31rem;

  --leading-150: 1.5; /* 150% */

  --width-extra-usp-card: 1.88rem;
  --width-usp-block: 2.169rem;

  --shadow-soft-blue: 0 0 25px 0 rgba(34, 44, 120, 0.04);
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
